## Data Loading

In [119]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/pii-detection-removal-from-educational-data/sample_submission.csv
/kaggle/input/pii-detection-removal-from-educational-data/train.json
/kaggle/input/pii-detection-removal-from-educational-data/test.json

In [120]:
input_dir = '/kaggle/input/pii-detection-removal-from-educational-data'

In [121]:
os.path.join(input_dir, 'sample_submission.csv')

'/kaggle/input/pii-detection-removal-from-educational-data/sample_submission.csv'

In [122]:
import json
train_data = json.load(open(os.path.join(input_dir, 'train.json')))
test_data = json.load(open(os.path.join(input_dir, 'test.json')))

train = pd.json_normalize(train_data)
test = pd.json_normalize(test_data)
submission = pd.read_csv(os.path.join(input_dir, 'sample_submission.csv'))

All of the essays were written in response to a single assignment prompt,  
which asked students to apply course material to a real-world problem.

A majority of the essays are reserved for the test set (70%),  
so competitors are encouraged to use external datasets  
that are publicly available to bolster the training data.

# Glimpse

In [123]:
train.head(10)

   document                                          full_text                                             tokens                                trailing_whitespace                                             labels
0         7  Design Thinking for innovation reflexion-Avril...  [Design, Thinking, for, innovation, reflexion,...  [True, True, True, True, False, False, True, F...  [O, O, O, O, O, O, O, O, O, B-NAME_STUDENT, I-...
1        10  Diego Estrada\n\nDesign Thinking Assignment\n\...  [Diego, Estrada, \n\n, Design, Thinking, Assig...  [True, False, False, True, True, False, False,...  [B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O...
2        16  Reporting process\n\nby Gilberto Gamboa\n\nCha...  [Reporting, process, \n\n, by, Gilberto, Gambo...  [True, False, False, True, True, False, False,...  [O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT, O...
3        20  Design Thinking for Innovation\n\nSindy Samaca...  [Design, Thinking, for, Innovation, \n\n, Sind...  [True, True, True, False, False, True, False, ...  [O, O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT...
4        56  Assignment:  Visualization Reflection  Submitt...  [Assignment, :,   , Visualization,  , Reflecti...  [False, False, False, False, False, False, Fal...  [O, O, O, O, O, O, O, O, O, O, O, O, B-NAME_ST...
5        86  Cheese Startup - Learning Launch ​by Eladio Am...  [Cheese, Startup, -, Learning, Launch, ​by, El...  [True, True, True, True, True, True, True, Fal...  [O, O, O, O, O, O, B-NAME_STUDENT, I-NAME_STUD...
6        93  Silvia Villalobos\n\nChallenge:\n\nThere is a ...  [Silvia, Villalobos, \n\n, Challenge, :, \n\n,...  [True, False, False, False, False, False, True...  [B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O...
7       104  Storytelling  The Path to Innovation\n\nDr Sak...  [Storytelling,  , The, Path, to, Innovation, \...  [True, False, True, True, True, False, False, ...  [O, O, O, O, O, O, O, O, B-NAME_STUDENT, I-NAM...
8       112  Reflection – Learning Launch\n\nFrancisco Ferr...  [Reflection, –, Learning, Launch, \n\n, Franci...  [True, True, True, False, False, True, False, ...  [O, O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT...
9       123  Gandhi Institute of Technology and Management ...  [Gandhi, Institute, of, Technology, and, Manag...  [True, True, True, True, True, True, False, Tr...  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...

In [124]:
train.loc[0, "full_text"]

"Design Thinking for innovation reflexion-Avril 2021-Nathalie Sylla\n\nChallenge & selection\n\nThe tool I use to help all stakeholders finding their way through the complexity of a project is the  mind map.\n\nWhat exactly is a mind map? According to the definition of Buzan T. and Buzan B. (1999, Dessine-moi  l'intelligence. Paris: Les Éditions d'Organisation.), the mind map (or heuristic diagram) is a graphic  representation technique that follows the natural functioning of the mind and allows the brain's  potential to be released. Cf Annex1\n\nThis tool has many advantages:\n\n•  It is accessible to all and does not require significant material investment and can be done  quickly\n\n•  It is scalable\n\n•  It allows categorization and linking of information\n\n•  It can be applied to any type of situation: notetaking, problem solving, analysis, creation of  new ideas\n\n•  It is suitable for all people and is easy to learn\n\n•  It is fun and encourages exchanges\n\n•  It makes visible the dimension of projects, opportunities, interconnections\n\n•  It synthesizes\n\n•  It makes the project understandable\n\n•  It allows you to explore ideas\n\nThe creation of a mind map starts with an idea/problem located at its center. This starting point  generates ideas/work areas, incremented around this center in a radial structure, which in turn is  completed with as many branches as new ideas.\n\nThis tool enables creativity and logic to be mobilized, it is a map of the thoughts.\n\nCreativity is enhanced because participants feel comfortable with the method.\n\nApplication & Insight\n\nI start the process of the mind map creation with the stakeholders standing around a large board  (white or paper board). In the center of the board, I write and highlight the topic to design.\n\nThrough a series of questions, I guide the stakeholders in modelling the mind map. I adapt the series  of questions according to the topic to be addressed. In the type of questions, we can use: who, what,  when, where, why, how, how much.\n\nThe use of the “why” is very interesting to understand the origin. By this way, the interviewed person  frees itself from paradigms and thus dares to propose new ideas / ways of functioning. I plan two  hours for a workshop.\n\nDesign Thinking for innovation reflexion-Avril 2021-Nathalie Sylla\n\nAfter modelling the mind map on paper, I propose to the participants a digital visualization of their  work with the addition of color codes, images and interconnections. This second workshop also lasts  two hours and allows the mind map to evolve. Once familiarized with it, the stakeholders discover  the power of the tool. Then, the second workshop brings out even more ideas and constructive  exchanges between the stakeholders. Around this new mind map, they have learned to work  together and want to make visible the untold ideas.\n\nI now present all the projects I manage in this type of format in order to ease rapid understanding for  decision-makers. These presentations are the core of my business models. The decision-makers are  thus able to identify the opportunities of the projects and can take quick decisions to validate them.  They find answers to their questions thank to a schematic representation.\n\nApproach\n\nWhat I find amazing with the facilitation of this type of workshop is the participants commitment for  the project. This tool helps to give meaning. The participants appropriate the story and want to keep  writing it. Then, they easily become actors or sponsors of the project. A trust relationship is built,  thus facilitating the implementation of related actions.\n\nDesign Thinking for innovation reflexion-Avril 2021-Nathalie Sylla\n\nAnnex 1: Mind Map Shared facilities project\n\n"

In [125]:
print(train.loc[0, "full_text"])

Design Thinking for innovation reflexion-Avril 2021-Nathalie Sylla

Challenge & selection

The tool I use to help all stakeholders finding their way through the complexity of a project is the  mind map.

What exactly is a mind map? According to the definition of Buzan T. and Buzan B. (1999, Dessine-moi  l'intelligence. Paris: Les Éditions d'Organisation.), the mind map (or heuristic diagram) is a graphic  representation technique that follows the natural functioning of the mind and allows the brain's  potential to be released. Cf Annex1

This tool has many advantages:

•  It is accessible to all and does not require significant material investment and can be done  quickly

•  It is scalable

•  It allows categorization and linking of information

•  It can be applied to any type of situation: notetaking, problem solving, analysis, creation of  new ideas

•  It is suitable for all people and is easy to learn

•  It is fun and encourages exchanges

•  It makes visible the dimension of projects, opportunities, interconnections

•  It synthesizes

•  It makes the project understandable

•  It allows you to explore ideas

The creation of a mind map starts with an idea/problem located at its center. This starting point  generates ideas/work areas, incremented around this center in a radial structure, which in turn is  completed with as many branches as new ideas.

This tool enables creativity and logic to be mobilized, it is a map of the thoughts.

Creativity is enhanced because participants feel comfortable with the method.

Application & Insight

I start the process of the mind map creation with the stakeholders standing around a large board  (white or paper board). In the center of the board, I write and highlight the topic to design.

Through a series of questions, I guide the stakeholders in modelling the mind map. I adapt the series  of questions according to the topic to be addressed. In the type of questions, we can use: who, what,  when, where, why, how, how much.

The use of the “why” is very interesting to understand the origin. By this way, the interviewed person  frees itself from paradigms and thus dares to propose new ideas / ways of functioning. I plan two  hours for a workshop.

Design Thinking for innovation reflexion-Avril 2021-Nathalie Sylla

After modelling the mind map on paper, I propose to the participants a digital visualization of their  work with the addition of color codes, images and interconnections. This second workshop also lasts  two hours and allows the mind map to evolve. Once familiarized with it, the stakeholders discover  the power of the tool. Then, the second workshop brings out even more ideas and constructive  exchanges between the stakeholders. Around this new mind map, they have learned to work  together and want to make visible the untold ideas.

I now present all the projects I manage in this type of format in order to ease rapid understanding for  decision-makers. These presentations are the core of my business models. The decision-makers are  thus able to identify the opportunities of the projects and can take quick decisions to validate them.  They find answers to their questions thank to a schematic representation.

Approach

What I find amazing with the facilitation of this type of workshop is the participants commitment for  the project. This tool helps to give meaning. The participants appropriate the story and want to keep  writing it. Then, they easily become actors or sponsors of the project. A trust relationship is built,  thus facilitating the implementation of related actions.

Design Thinking for innovation reflexion-Avril 2021-Nathalie Sylla

Annex 1: Mind Map Shared facilities project

In [126]:
len(train.loc[0, "tokens"])

753

The documents were tokenized using the SpaCy English tokenizer.

In [127]:
train.loc[0, "tokens"][:200]

['Design',
 'Thinking',
 'for',
 'innovation',
 'reflexion',
 '-',
 'Avril',
 '2021',
 '-',
 'Nathalie',
 'Sylla',
 '\n\n',
 'Challenge',
 '&',
 'selection',
 '\n\n',
 'The',
 'tool',
 'I',
 'use',
 'to',
 'help',
 'all',
 'stakeholders',
 'finding',
 'their',
 'way',
 'through',
 'the',
 'complexity',
 'of',
 'a',
 'project',
 'is',
 'the',
 ' ',
 'mind',
 'map',
 '.',
 '\n\n',
 'What',
 'exactly',
 'is',
 'a',
 'mind',
 'map',
 '?',
 'According',
 'to',
 'the',
 'definition',
 'of',
 'Buzan',
 'T.',
 'and',
 'Buzan',
 'B.',
 '(',
 '1999',
 ',',
 'Dessine',
 '-',
 'moi',
 ' ',
 "l'intelligence",
 '.',
 'Paris',
 ':',
 'Les',
 'Éditions',
 "d'Organisation",
 '.',
 ')',
 ',',
 'the',
 'mind',
 'map',
 '(',
 'or',
 'heuristic',
 'diagram',
 ')',
 'is',
 'a',
 'graphic',
 ' ',
 'representation',
 'technique',
 'that',
 'follows',
 'the',
 'natural',
 'functioning',
 'of',
 'the',
 'mind',
 'and',
 'allows',
 'the',
 'brain',
 "'s",
 ' ',
 'potential',
 'to',
 'be',
 'released',
 '.',
 'Cf',
 'Annex1',
 '\n\n',
 'This',
 'tool',
 'has',
 'many',
 'advantages',
 ':',
 '\n\n',
 '•',
 ' ',
 'It',
 'is',
 'accessible',
 'to',
 'all',
 'and',
 'does',
 'not',
 'require',
 'significant',
 'material',
 'investment',
 'and',
 'can',
 'be',
 'done',
 ' ',
 'quickly',
 '\n\n',
 '•',
 ' ',
 'It',
 'is',
 'scalable',
 '\n\n',
 '•',
 ' ',
 'It',
 'allows',
 'categorization',
 'and',
 'linking',
 'of',
 'information',
 '\n\n',
 '•',
 ' ',
 'It',
 'can',
 'be',
 'applied',
 'to',
 'any',
 'type',
 'of',
 'situation',
 ':',
 'notetaking',
 ',',
 'problem',
 'solving',
 ',',
 'analysis',
 ',',
 'creation',
 'of',
 ' ',
 'new',
 'ideas',
 '\n\n',
 '•',
 ' ',
 'It',
 'is',
 'suitable',
 'for',
 'all',
 'people',
 'and',
 'is',
 'easy',
 'to',
 'learn',
 '\n\n',
 '•',
 ' ',
 'It',
 'is',
 'fun',
 'and',
 'encourages']

In [128]:
len(train.loc[0, "trailing_whitespace"])

753

trailing_whitespace (list)  
(bool): a boolean value indicating whether each token is followed by whitespace.

In [129]:
'''
"Design Thinking for innovation reflexion-Avril 2021-Nathalie Sylla\n\nChallenge & selection\n\nThe tool"
      T        T   T          T         FF    T    FF       T     F   F        T T         F   F  T    T
'''

'\n"Design Thinking for innovation reflexion-Avril 2021-Nathalie Sylla\n\nChallenge & selection\n\nThe tool"\n      T        T   T          T         FF    T    FF       T     F   F        T T         F   F  T    T\n'

In [130]:
train.loc[0, "trailing_whitespace"][:18]

[True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True]

In [131]:
len(train.loc[0, "labels"])

753

In [132]:
train.loc[0, "labels"]

['O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'I-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'I-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'B-NAME_STUDENT',
 'I-NAME_STUDENT',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O']

In [133]:
test.head(10)

   document                                          full_text                                             tokens                                trailing_whitespace
0         7  Design Thinking for innovation reflexion-Avril...  [Design, Thinking, for, innovation, reflexion,...  [True, True, True, True, False, False, True, F...
1        10  Diego Estrada\n\nDesign Thinking Assignment\n\...  [Diego, Estrada, \n\n, Design, Thinking, Assig...  [True, False, False, True, True, False, False,...
2        16  Reporting process\n\nby Gilberto Gamboa\n\nCha...  [Reporting, process, \n\n, by, Gilberto, Gambo...  [True, False, False, True, True, False, False,...
3        20  Design Thinking for Innovation\n\nSindy Samaca...  [Design, Thinking, for, Innovation, \n\n, Sind...  [True, True, True, False, False, True, False, ...
4        56  Assignment:  Visualization Reflection  Submitt...  [Assignment, :,   , Visualization,  , Reflecti...  [False, False, False, False, False, False, Fal...
5        86  Cheese Startup - Learning Launch ​by Eladio Am...  [Cheese, Startup, -, Learning, Launch, ​by, El...  [True, True, True, True, True, True, True, Fal...
6        93  Silvia Villalobos\n\nChallenge:\n\nThere is a ...  [Silvia, Villalobos, \n\n, Challenge, :, \n\n,...  [True, False, False, False, False, False, True...
7       104  Storytelling  The Path to Innovation\n\nDr Sak...  [Storytelling,  , The, Path, to, Innovation, \...  [True, False, True, True, True, False, False, ...
8       112  Reflection – Learning Launch\n\nFrancisco Ferr...  [Reflection, –, Learning, Launch, \n\n, Franci...  [True, True, True, False, False, True, False, ...
9       123  Gandhi Institute of Technology and Management ...  [Gandhi, Institute, of, Technology, and, Manag...  [True, True, True, True, True, True, False, Tr...

In [134]:
'''
nunique()는 해시 테이블을 사용해 중복된 값을 센다. (i.e. 고유한 값이 몇개인지 센다)
값 자체를 해시함수에 통과시켜 키를 구해 해시테이블에 저장한다.
train의 행의 개수와 고유한 값이 일치한다면 데이터 품질이 좋다고 추측해볼 수 있다.
False 라면, 그리고 중복된 값이 많다면 "데이터 누수"가 많은 것이고 이는 학습시 과적합의 원인이 될 수 있다.
'''
assert train['document'].nunique() == train.shape[0]

In [135]:
train['document'].nunique()

6807

In [136]:
train.shape[0]

6807

In [137]:
full_ner_labels = [
    'B-NAME_STUDENT', 'I-NAME_STUDENT',
    'B-URL_PERSONAL', 'I-URL_PERSONAL',
    'B-ID_NUM', 'I-ID_NUM',
    'B-EMAIL', 'I-EMAIL',
    'B-STREET_ADDRESS', 'I-STREET_ADDRESS',
    'B-PHONE_NUM', 'I-PHONE_NUM',
    'B-USERNAME', 'I-USERNAME'
]

## EDA setting for NER
**goal** : train set의 텍스트에서 발견된 entities('O'가 아닌 full_ner_labels)의 종류와 빈도수를 분석

In [138]:
train_EDA = train.copy()

train_EDA['ner_labels'] = train_EDA['labels'].apply(
    lambda x: [item for item in x if item != 'O'])
'''
apply 함수는 train_EDA 데이터 프레임의 'labels' 열에 적용되어
'labels' 열의 각 원소(즉, 각 행에 해당하는 레이블 리스트)에 대해 람다 함수를 실행한다.
즉 람다함수의 x는 리스트, 다시 말해 각 행의 'labels' 값을 받는다.
'''
train_EDA

      document                                          full_text                                             tokens                                trailing_whitespace                                             labels                                         ner_labels
0            7  Design Thinking for innovation reflexion-Avril...  [Design, Thinking, for, innovation, reflexion,...  [True, True, True, True, False, False, True, F...  [O, O, O, O, O, O, O, O, O, B-NAME_STUDENT, I-...  [B-NAME_STUDENT, I-NAME_STUDENT, B-NAME_STUDEN...
1           10  Diego Estrada\n\nDesign Thinking Assignment\n\...  [Diego, Estrada, \n\n, Design, Thinking, Assig...  [True, False, False, True, True, False, False,...  [B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O...  [B-NAME_STUDENT, I-NAME_STUDENT, B-NAME_STUDEN...
2           16  Reporting process\n\nby Gilberto Gamboa\n\nCha...  [Reporting, process, \n\n, by, Gilberto, Gambo...  [True, False, False, True, True, False, False,...  [O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT, O...                   [B-NAME_STUDENT, I-NAME_STUDENT]
3           20  Design Thinking for Innovation\n\nSindy Samaca...  [Design, Thinking, for, Innovation, \n\n, Sind...  [True, True, True, False, False, True, False, ...  [O, O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT...                   [B-NAME_STUDENT, I-NAME_STUDENT]
4           56  Assignment:  Visualization Reflection  Submitt...  [Assignment, :,   , Visualization,  , Reflecti...  [False, False, False, False, False, False, Fal...  [O, O, O, O, O, O, O, O, O, O, O, O, B-NAME_ST...                   [B-NAME_STUDENT, I-NAME_STUDENT]
...        ...                                                ...                                                ...                                                ...                                                ...                                                ...
6802     22678  EXAMPLE – JOURNEY MAP\n\nTHE CHALLENGE    My w...  [EXAMPLE, –, JOURNEY, MAP, \n\n, THE, CHALLENG...  [True, True, True, False, False, True, True, F...  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...                                                 []
6803     22679  Why Mind Mapping?\n\nMind maps are graphical r...  [Why, Mind, Mapping, ?, \n\n, Mind, maps, are,...  [True, True, False, False, False, True, True, ...  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...                                                 []
6804     22681  Challenge\n\nSo, a few months back, I had chos...  [Challenge, \n\n, So, ,, a, few, months, back,...  [False, False, False, True, True, True, True, ...  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...                                                 []
6805     22684  Brainstorming\n\nChallenge & Selection\n\nBrai...  [Brainstorming, \n\n, Challenge, &, Selection,...  [False, False, True, True, False, False, True,...  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...                                                 []
6806     22687  Mind Mapping\n\nChallenge\n\nMy consulting tea...  [Mind, Mapping, \n\n, Challenge, \n\n, My, con...  [True, False, False, False, False, True, True,...  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...                                                 []

[6807 rows x 6 columns]

In [139]:
train_EDA['count_ner_labels'] = train_EDA['ner_labels'].apply(len)
train_EDA.head(3)

   document                                          full_text                                             tokens                                trailing_whitespace                                             labels                                         ner_labels  count_ner_labels
0         7  Design Thinking for innovation reflexion-Avril...  [Design, Thinking, for, innovation, reflexion,...  [True, True, True, True, False, False, True, F...  [O, O, O, O, O, O, O, O, O, B-NAME_STUDENT, I-...  [B-NAME_STUDENT, I-NAME_STUDENT, B-NAME_STUDEN...                 6
1        10  Diego Estrada\n\nDesign Thinking Assignment\n\...  [Diego, Estrada, \n\n, Design, Thinking, Assig...  [True, False, False, True, True, False, False,...  [B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O...  [B-NAME_STUDENT, I-NAME_STUDENT, B-NAME_STUDEN...                 4
2        16  Reporting process\n\nby Gilberto Gamboa\n\nCha...  [Reporting, process, \n\n, by, Gilberto, Gambo...  [True, False, False, True, True, False, False,...  [O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT, O...                   [B-NAME_STUDENT, I-NAME_STUDENT]                 2

In [140]:
train_EDA['count_distinct_ner_labels'] = train_EDA['ner_labels'].apply(
lambda x: len(set(x)))
train_EDA.head(3)

   document                                          full_text                                             tokens                                trailing_whitespace                                             labels                                         ner_labels  count_ner_labels  count_distinct_ner_labels
0         7  Design Thinking for innovation reflexion-Avril...  [Design, Thinking, for, innovation, reflexion,...  [True, True, True, True, False, False, True, F...  [O, O, O, O, O, O, O, O, O, B-NAME_STUDENT, I-...  [B-NAME_STUDENT, I-NAME_STUDENT, B-NAME_STUDEN...                 6                          2
1        10  Diego Estrada\n\nDesign Thinking Assignment\n\...  [Diego, Estrada, \n\n, Design, Thinking, Assig...  [True, False, False, True, True, False, False,...  [B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O...  [B-NAME_STUDENT, I-NAME_STUDENT, B-NAME_STUDEN...                 4                          2
2        16  Reporting process\n\nby Gilberto Gamboa\n\nCha...  [Reporting, process, \n\n, by, Gilberto, Gambo...  [True, False, False, True, True, False, False,...  [O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT, O...                   [B-NAME_STUDENT, I-NAME_STUDENT]                 2                          2

In [141]:
exploded_df = train_EDA['ner_labels'].explode()
'''
explode() 함수는 리스트 또는 리스트와 유사한 구조를 갖는 각 행을 받아서, 
리스트의 각 항목을 별도의 행으로 확장
'ner_labels' 열을 .explode() 함수로 풀어서 각 엔티티 레이블이 별도의 행을 가지도록 한다.
따라서 exploded_df 의 각 인덱스는 train_EDA['ner_labels'] 에서 해당 요소가 속한 행의 인덱스를 가리키게 된다
'''
exploded_df

0       B-NAME_STUDENT
0       I-NAME_STUDENT
0       B-NAME_STUDENT
0       I-NAME_STUDENT
0       B-NAME_STUDENT
             ...
6802               NaN
6803               NaN
6804               NaN
6805               NaN
6806               NaN
Name: ner_labels, Length: 8601, dtype: object

In [142]:
dummies = pd.get_dummies(exploded_df)
'''
pd.get_dummies() 함수는 인자로 받은 테이블의 범주형 변수를 원핫인코딩 방식으로 변환한다.
여기서 범주는 exploded_df 에서 중복을 제거한 각 NER 레이블들이고, 이들은 새로운 더미 테이블에서 각 열(더미 변수)이 된다.
더미 테이블의 각 행은 exploded_df의 각 행과 같은 인덱스를 가진다.
이는 각 원-핫 인코딩된 벡터가 원래 exploded_df의 어떤 행에서 파생되었는지 추적할 수 있게 해준다.
따라서 더미테이블의 각 행은 exploded_df의 각 행에 있던 ner 레이블에 해당하는 열에만 1, 나머지는 0의 값을 가지는 원핫인코딩이 된다.
이 과정은 원본 테이블에서의 각 데이터 샘플들을
NER 레이블이라는 범주형 데이터만으로 재가공해 
(범주형 데이터를) 모델이 이해할 수 있는 형식(수치형 데이터)으로 바꿔준 것이다. 
(뒤에서 dummies.groupby('index').sum() 해줘야 비로소 완성된다.)
이 방법을 사용함으로써,
각 범주형 레이블(범주형 데이터)은 모델에 입력될 수 있는 독립적인 특성(수치형 데이터)으로 변환되어, 
더 정교한 학습과 예측이 가능해질 수도 있다.
(이 역시 마찬가지로 뒤에서 dummies.groupby('index').sum() 해줘야 그 가능성을 비로소 말할 수 있다.)
'''
dummies

      B-EMAIL  B-ID_NUM  B-NAME_STUDENT  B-PHONE_NUM  B-STREET_ADDRESS  B-URL_PERSONAL  B-USERNAME  I-ID_NUM  I-NAME_STUDENT  I-PHONE_NUM  I-STREET_ADDRESS  I-URL_PERSONAL
0       False     False            True        False             False           False       False     False           False        False             False           False
0       False     False           False        False             False           False       False     False            True        False             False           False
0       False     False            True        False             False           False       False     False           False        False             False           False
0       False     False           False        False             False           False       False     False            True        False             False           False
0       False     False            True        False             False           False       False     False           False        False             False           False
...       ...       ...             ...          ...               ...             ...         ...       ...             ...          ...               ...             ...
6802    False     False           False        False             False           False       False     False           False        False             False           False
6803    False     False           False        False             False           False       False     False           False        False             False           False
6804    False     False           False        False             False           False       False     False           False        False             False           False
6805    False     False           False        False             False           False       False     False           False        False             False           False
6806    False     False           False        False             False           False       False     False           False        False             False           False

[8601 rows x 12 columns]

In [143]:
dummies = dummies.reset_index()
'''
.reset_index()를 호출하면 기존 인덱스는 'index'라는 이름의 컬럼으로 DataFrame에 추가되고, 
0부터 시작하는 새로운 인덱스가 연속적인 정수로 전체 행에 부여된다. 
선택적으로 drop=True 인자를 추가하여 기존 인덱스를 DataFrame에 포함시키지 않고 버릴 수 있다.
reset_index() 실행으로 기존 인덱스가 'index' 라는 이름의 열로 남는데
이 열은 뒤에서 dummies.groupby('index').sum() 을 하는데 사용된다.
또 마지막에 train_EDA.join(counted) 을 하는데도 사용된다.
즉 reset_index()를 하는 이유는 연속되는 정수로 인덱스를 초기화한 걸 쓰기 위해서가 아니라
원본 데이터의 인덱스를 'index' 라는 이름의 별도 칼럼으로 남기기 위해서다.
'''
dummies

      index  B-EMAIL  B-ID_NUM  B-NAME_STUDENT  B-PHONE_NUM  B-STREET_ADDRESS  B-URL_PERSONAL  B-USERNAME  I-ID_NUM  I-NAME_STUDENT  I-PHONE_NUM  I-STREET_ADDRESS  I-URL_PERSONAL
0         0    False     False            True        False             False           False       False     False           False        False             False           False
1         0    False     False           False        False             False           False       False     False            True        False             False           False
2         0    False     False            True        False             False           False       False     False           False        False             False           False
3         0    False     False           False        False             False           False       False     False            True        False             False           False
4         0    False     False            True        False             False           False       False     False           False        False             False           False
...     ...      ...       ...             ...          ...               ...             ...         ...       ...             ...          ...               ...             ...
8596   6802    False     False           False        False             False           False       False     False           False        False             False           False
8597   6803    False     False           False        False             False           False       False     False           False        False             False           False
8598   6804    False     False           False        False             False           False       False     False           False        False             False           False
8599   6805    False     False           False        False             False           False       False     False           False        False             False           False
8600   6806    False     False           False        False             False           False       False     False           False        False             False           False

[8601 rows x 13 columns]

In [144]:
dummies.columns
# I-EMAIL, I-USERNAME 이 없다.

Index(['index', 'B-EMAIL', 'B-ID_NUM', 'B-NAME_STUDENT', 'B-PHONE_NUM', 'B-STREET_ADDRESS', 'B-URL_PERSONAL', 'B-USERNAME', 'I-ID_NUM', 'I-NAME_STUDENT', 'I-PHONE_NUM', 'I-STREET_ADDRESS', 'I-URL_PERSONAL'], dtype='object')

In [145]:
len(dummies.columns) # index 빼면 12

13

In [146]:
full_ner_labels

['B-NAME_STUDENT',
 'I-NAME_STUDENT',
 'B-URL_PERSONAL',
 'I-URL_PERSONAL',
 'B-ID_NUM',
 'I-ID_NUM',
 'B-EMAIL',
 'I-EMAIL',
 'B-STREET_ADDRESS',
 'I-STREET_ADDRESS',
 'B-PHONE_NUM',
 'I-PHONE_NUM',
 'B-USERNAME',
 'I-USERNAME']

In [147]:
frequency = dummies.sum().sort_values(ascending=False)
'''
dummies.sum() : 더미 테이블의 각 열(원-핫 인코딩된 범주형 변수)에 대한 합계를 계산
즉 원핫인코딩된 데이터에서 각 열의 합계는 해당 범주(레이블)가 전체 데이터셋에서 몇번 등장했는지를 나타내는 빈도수가 된다.
다시 말해 각 NER 레이블의 전체 데이터셋 내 출현빈도수 계산.
'''
frequency

index               24697269
B-NAME_STUDENT          1365
I-NAME_STUDENT          1096
B-URL_PERSONAL           110
B-ID_NUM                  78
B-EMAIL                   39
I-STREET_ADDRESS          20
I-PHONE_NUM               15
B-PHONE_NUM                6
B-USERNAME                 6
B-STREET_ADDRESS           2
I-ID_NUM                   1
I-URL_PERSONAL             1
dtype: int64

In [148]:
ordered_columns = frequency.index.tolist()
'''
빈도수 기준 내림차순 정렬된 레이블들을 리스트로 변환 
'''
ordered_columns.remove("index") # 인덱스 원소 제거
ordered_columns

['B-NAME_STUDENT',
 'I-NAME_STUDENT',
 'B-URL_PERSONAL',
 'B-ID_NUM',
 'B-EMAIL',
 'I-STREET_ADDRESS',
 'I-PHONE_NUM',
 'B-PHONE_NUM',
 'B-USERNAME',
 'B-STREET_ADDRESS',
 'I-ID_NUM',
 'I-URL_PERSONAL']

In [149]:
counted = dummies.groupby('index').sum()
'''
dummies DataFrame을 'index' 열을 기준으로 그룹화한 후, 각 그룹 내의 값을 합산하는 과정을 수행
다시 말해, 'index' 열에 동일한 값(즉, 원본 데이터의 같은 인덱스를 가리키는 값)을 가진 행들을 찾아
그 행들의 값을 합산해서 하나의 행으로 합친다는 것이다.
이 과정은 원-핫 인코딩된 데이터에서 특히 유용한데, 
원본 데이터에서 한 데이터 포인트가 여러 범주에 해당할 경우, 
explode() 메소드를 통해 이를 여러 행으로 확장하고 원-핫 인코딩을 적용했을 때, 
각각의 범주가 별도의 행으로 표현되었을 것이다. 
따라서, 'index' 열을 기준으로 그룹화하고 합산하는 과정을 통해, 
이렇게 분리되었던 정보를 다시 원래의 데이터 포인트 단위로 집계하는 것.
이를 통해, 각 원본 데이터 샘플에 대해 해당하는 모든 범주형 데이터를 하나의 수치형 데이터로 바꿀 수 있게 된다.
이러한 변환 과정을 거치면, 각 데이터 샘플은 원본 데이터에 포함된 여러 범주형 레이블의 존재 유무 및 빈도를 나타내는 수치형 벡터로 표현되고
모델이 이해할 수 있는 데이터로 쓸수 있게 된다.
'''
counted

       B-EMAIL  B-ID_NUM  B-NAME_STUDENT  B-PHONE_NUM  B-STREET_ADDRESS  B-URL_PERSONAL  B-USERNAME  I-ID_NUM  I-NAME_STUDENT  I-PHONE_NUM  I-STREET_ADDRESS  I-URL_PERSONAL
index
0            0         0               3            0                 0               0           0         0               3            0                 0               0
1            0         0               2            0                 0               0           0         0               2            0                 0               0
2            0         0               1            0                 0               0           0         0               1            0                 0               0
3            0         0               1            0                 0               0           0         0               1            0                 0               0
4            0         0               1            0                 0               0           0         0               1            0                 0               0
...        ...       ...             ...          ...               ...             ...         ...       ...             ...          ...               ...             ...
6802         0         0               0            0                 0               0           0         0               0            0                 0               0
6803         0         0               0            0                 0               0           0         0               0            0                 0               0
6804         0         0               0            0                 0               0           0         0               0            0                 0               0
6805         0         0               0            0                 0               0           0         0               0            0                 0               0
6806         0         0               0            0                 0               0           0         0               0            0                 0               0

[6807 rows x 12 columns]

In [150]:
counted = counted.reindex(columns=full_ner_labels, fill_value=0)
'''
counted DataFrame의 컬럼(열)을 full_ner_labels 리스트에 정의된 순서대로 재배열하며, 
full_ner_labels에 있는데 counted에 없는 레이블에 대해서는 새로운 열을 추가하고 그 값들을 0으로 채우는 작업을 수행

'''
counted

       B-NAME_STUDENT  I-NAME_STUDENT  B-URL_PERSONAL  I-URL_PERSONAL  B-ID_NUM  I-ID_NUM  B-EMAIL  I-EMAIL  B-STREET_ADDRESS  I-STREET_ADDRESS  B-PHONE_NUM  I-PHONE_NUM  B-USERNAME  I-USERNAME
index
0                   3               3               0               0         0         0        0        0                 0                 0            0            0           0           0
1                   2               2               0               0         0         0        0        0                 0                 0            0            0           0           0
2                   1               1               0               0         0         0        0        0                 0                 0            0            0           0           0
3                   1               1               0               0         0         0        0        0                 0                 0            0            0           0           0
4                   1               1               0               0         0         0        0        0                 0                 0            0            0           0           0
...               ...             ...             ...             ...       ...       ...      ...      ...               ...               ...          ...          ...         ...         ...
6802                0               0               0               0         0         0        0        0                 0                 0            0            0           0           0
6803                0               0               0               0         0         0        0        0                 0                 0            0            0           0           0
6804                0               0               0               0         0         0        0        0                 0                 0            0            0           0           0
6805                0               0               0               0         0         0        0        0                 0                 0            0            0           0           0
6806                0               0               0               0         0         0        0        0                 0                 0            0            0           0           0

[6807 rows x 14 columns]

In [153]:
ordered_columns

['B-NAME_STUDENT',
 'I-NAME_STUDENT',
 'B-URL_PERSONAL',
 'B-ID_NUM',
 'B-EMAIL',
 'I-STREET_ADDRESS',
 'I-PHONE_NUM',
 'B-PHONE_NUM',
 'B-USERNAME',
 'B-STREET_ADDRESS',
 'I-ID_NUM',
 'I-URL_PERSONAL']

In [151]:
counted = counted[ordered_columns + 
                  [i for i in full_ner_labels if i not in ordered_columns]]
'''
counted[ordered_columns] 코드는 counted DataFrame의 컬럼들을 ordered_columns 리스트에 나열된 순서대로 재배열.
ordered_columns 리스트에는 결과 DataFrame에 포함시키고자 하는 모든 컬럼명이 포함되어 있어야 합니다.
ordered_columns의 순서가 결과 DataFrame의 컬럼 순서를 결정합니다.
ordered_columns에 포함되지 않은 counted DataFrame의 컬럼들은 결과에서 제외됩니다.
재배열한 후, ordered_columns에 포함되지 않은 나머지 full_ner_labels의 컬럼들을 counted DataFrame에 추가
'''
counted

       B-NAME_STUDENT  I-NAME_STUDENT  B-URL_PERSONAL  B-ID_NUM  B-EMAIL  I-STREET_ADDRESS  I-PHONE_NUM  B-PHONE_NUM  B-USERNAME  B-STREET_ADDRESS  I-ID_NUM  I-URL_PERSONAL  I-EMAIL  I-USERNAME
index
0                   3               3               0         0        0                 0            0            0           0                 0         0               0        0           0
1                   2               2               0         0        0                 0            0            0           0                 0         0               0        0           0
2                   1               1               0         0        0                 0            0            0           0                 0         0               0        0           0
3                   1               1               0         0        0                 0            0            0           0                 0         0               0        0           0
4                   1               1               0         0        0                 0            0            0           0                 0         0               0        0           0
...               ...             ...             ...       ...      ...               ...          ...          ...         ...               ...       ...             ...      ...         ...
6802                0               0               0         0        0                 0            0            0           0                 0         0               0        0           0
6803                0               0               0         0        0                 0            0            0           0                 0         0               0        0           0
6804                0               0               0         0        0                 0            0            0           0                 0         0               0        0           0
6805                0               0               0         0        0                 0            0            0           0                 0         0               0        0           0
6806                0               0               0         0        0                 0            0            0           0                 0         0               0        0           0

[6807 rows x 14 columns]

In [152]:
train_EDA = train_EDA.join(counted)
'''
인덱스를 기준으로 두 DataFrame을 결합
'''
sample_train = train_EDA.head(3)
sample_train

   document                                          full_text                                             tokens                                trailing_whitespace                                             labels                                         ner_labels  count_ner_labels  count_distinct_ner_labels  B-NAME_STUDENT  I-NAME_STUDENT  B-URL_PERSONAL  B-ID_NUM  B-EMAIL  I-STREET_ADDRESS  I-PHONE_NUM  B-PHONE_NUM  B-USERNAME  B-STREET_ADDRESS  I-ID_NUM  I-URL_PERSONAL  I-EMAIL  I-USERNAME
0         7  Design Thinking for innovation reflexion-Avril...  [Design, Thinking, for, innovation, reflexion,...  [True, True, True, True, False, False, True, F...  [O, O, O, O, O, O, O, O, O, B-NAME_STUDENT, I-...  [B-NAME_STUDENT, I-NAME_STUDENT, B-NAME_STUDEN...                 6                          2               3               3               0         0        0                 0            0            0           0                 0         0               0        0           0
1        10  Diego Estrada\n\nDesign Thinking Assignment\n\...  [Diego, Estrada, \n\n, Design, Thinking, Assig...  [True, False, False, True, True, False, False,...  [B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O...  [B-NAME_STUDENT, I-NAME_STUDENT, B-NAME_STUDEN...                 4                          2               2               2               0         0        0                 0            0            0           0                 0         0               0        0           0
2        16  Reporting process\n\nby Gilberto Gamboa\n\nCha...  [Reporting, process, \n\n, by, Gilberto, Gambo...  [True, False, False, True, True, False, False,...  [O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT, O...                   [B-NAME_STUDENT, I-NAME_STUDENT]                 2                          2               1               1               0         0        0                 0            0            0           0                 0         0               0        0           0

## Display function